<% provide(:title, @taxon.name)%>

<% content_for :dropdown do%>
  <ul class="dropdown-menu row">
    <li class="col-sm-3 col-xs-12">
      <ul class="list-unstyled">
        <li>Products Grid View</li>
        <li class="active"><a href="product_grid_left_sidebar.html">Products Sidebar Left</a></li>
        <li><a href="product-grid-right-sidebar.html">Products Sidebar Right</a></li>
        <li><a href="product-grid-3-col-filter.html">Products 3 Columns V1</a></li>
        <li><a href="product-grid-3-col.html">Products 3 Columns V2</a></li>
        <li><a href="product-grid-4-col.html">Products 4 Columns</a></li>
      </ul>
    </li>
    <li class="col-sm-3 col-xs-12">
      <ul class="list-unstyled">
        <li>Products List View</li>
        <li><a href="product_list_left_sidebar.html">Products Sidebar Left</a></li>
        <li><a href="product-list-right-sidebar.html">Products Sidebar Right</a></li>
        <li class="listHeading">Others</li>
        <li><a href="single_product.html">Single Product</a></li>
        <li><a href="cart_page.html">Cart Page</a></li>
      </ul>
    </li>
    <li class="col-sm-3 col-xs-12">
      <ul class="list-unstyled">
        <li>Checkout</li>
        <li><a href="checkout_step_1.html">Step 1 - Address</a></li>
        <li><a href="checkout_step_2.html">Step 2 - Shipping</a></li>
        <li><a href="checkout_step_3.html">Step 3 - Payment</a></li>
        <li><a href="checkout_step_4.html">Step 4 - Payment</a></li>
        <li><a href="checkout_complete.html">Order Complete</a></li>
      </ul>
    </li>
    <li class="col-sm-3 col-xs-12">
      <a href="#" class="menu-photo"><%= image_tag("img/menu-photo.jpg", :alt => "menu-img") %></a>
    </li>
  </ul>
<% end %>

<!-- LIGHT SECTION -->
<%= render "shared/top_light_section", category: @taxon %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "shared/genre_search", taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <select name="guiest_id1" id="guiest_id1" class="select-drop">
              <option value="0">並び替え</option>
              <option value="1">人気順</option>
              <option value="2">安い順</option>
              <option value="3">新着順</option>
              <option value="3">高い順</option>
            </select>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <%# 分類ツリーのルートではproductを取得出来ないので、始めにツリーの末端を取得する %>
          <% @taxon.self_and_descendants.each do |descendant| %>
            <% descendant.products.each do |product| %>
              <div class="col-sm-4 col-xs-12">
                <%= link_to potepan_product_path(product.id), id: "spec_product_link" do %>
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <%= render 'spree/products/image', { image: product.images.first } %>
                    </div>
                    <div class="productCaption clearfix">
                      <h5><%= product.name %></h5>
                      <h3><%= number_to_currency(product.price) %></h3>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :bottom_light_section do %>
  <!-- LIGHT SECTION -->
  <%= render "shared/bottom_light_section" %>
<% end %>
