<% provide(:title, @product.name) %>

<!-- LIGHT SECTION -->
<%= render "shared/top_light_section", category: @product %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @variant.images.each_with_index do |image, i| %>
                  <div class="item <%= 'active' if i.zero? %>" data-thumb=<%= i %>>
                    <%= render 'spree/products/image', { image: image } %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <% @variant.images.each_with_index do |image, i| %>
                    <div data-target="#carousel" data-slide-to=<%= i %> class="thumb">
                      <%= render 'spree/products/image', { image: image } %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <%= render "shared/right_side", product: @product %>
        </div>
      </div>
    </div>
    <%= render "shared/product_line", related_products: @related_products %>
  </div>
</section>
