<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% related_products.each do |product| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to potepan_product_path(product.id) do %>
        <div class="productBox">
          <div class="productImage clearfix">
            <%= render 'spree/products/image', { image: product.images.first } %>
          </div>
          <div class="productCaption clearfix">
            <h5><%= product.name %></h5>
            <h3><%= product.display_price %></h3>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
