<div class="media-body">
  <ul class="list-inline">
    <li>
      <%= link_to potepan_category_path(product.taxons.first.id) do %>
        <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
      <% end %>
    </li>
  </ul>
  <h2><%= product.name %></h2>
  <h3><%= number_to_currency(product.price) %></h3>
  <p>Perferendis sed voluptatem error ipsam voluptatem esse ipsa incidunt. Doloremque quos ratione quia voluptas consequatur mollitia optio. Optio sed iure aut aliquid voluptatum facilis mollitia cum. Dignissimos in saepe consequatur et consequatur dolorem blanditiis.</p>
  <span class="quick-drop">
    <select name="guiest_id3" id="guiest_id3" class="select-drop">
      <option value="0">S</option>
      <option value="1">M</option>
      <option value="2">L</option>
      <option value="3">XL</option>
    </select>
  </span>
  <span class="quick-drop resizeWidth">
    <select name="guiest_id4" id="guiest_id4" class="select-drop">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </span>
  <div class="btn-area">
    <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
  </div>
</div>
