<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= category.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "HOME", potepan_path %>
          </li>
          <% unless controller.controller_name == "products" %>
            <li>
              <%= link_to "SHOP" %>
            </li>
          <% end %>
          <li class="active"><%= category.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
