<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/modal' %>

    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
